<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Space Transporter</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<div class="container">
<h1>Space Transporter</h1>
<table class="table">
    <thead class="table-dark">
    <th>Planet</th>
    <th>Population</th>
    <th>Spaceship location</th>
    <th>People on the ship</th>
    </thead>
    <tbody>
    <tr th:each="planet : ${planets}">
        <td th:text="${planet.name}"></td>
        <td th:text="${planet.population}"></td>
        <td th:if="${spaceship.planet != planet.name}">
            <form th:action="@{'/movehere/' + ${planet.id}}" method="post">
                <input class="btn btn-dark" type="submit" value="Move here">
            </form>
        </td>
        <td th:if="${spaceship.planet == planet.name}">
            <a th:href="@{'/toplanet/' + ${planet.id}}">← to planet</a>
            <a th:href="@{'/toship/' + ${planet.id}}">to ship →</a>
        </td>
        <td th:text="${spaceship.planet == planet.name}? ${spaceship.utilization} : ''"></td>
    </tr>
    </tbody>
</table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>