<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Space Transporter</title>
</head>
<body>
<h1>Space Transporter</h1>
<table>
    <thead>
    <th>Planet</th>
    <th>Population</th>
    <th>Spaceship location</th>
    <th>People on the ship</th>
    </thead>
    <tbody>
    <tr th:each="planet : ${planets}">
        <td th:text="${planet.name}"></td>
        <td th:text="${planet.population}"></td>
        <td th:if="${spaceship.planet != planet.name}">
            <form th:action="@{'/movehere/' + ${planet.id}}" method="post">
                <input type="submit" value="Move here">
            </form>
        </td>
        <td th:if="${spaceship.planet == planet.name}">
            <a>← to planet</a>
            <a>to ship →</a>
        </td>
        <td th:text="${spaceship.planet == planet.name}? ${spaceship.utilization} : ''"></td>
    </tr>
    </tbody>
</table>
</body>
</html>