html {
  background-color: lightgrey;
}

body {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
  font-family: Montserrat;
}

h1 {
  position: relative;
  margin: 50px 50px;
  font-size: 20px;
}

h2 {
  text-align: right;
  font-size: 12px;
}

form {
  position: relative;
  margin: 50px 50px;
}

input[type=text], input[type=password] {
  position: relative;
  width: 280px;
  height: 40px;
  margin-bottom: 20px;
  font-size: 14px;
}

input[type=password] {
  background-color: white;
  background-image: url('eye.png');
  background-size: 20px 20px;
  background-position: 250px 10px; 
  background-repeat: no-repeat;
}

input[type=text]:focus, input[type=password]:focus {
  outline: none;
  border: 1px solid  green;
}

label {
  position: relative;
  font-size: 10px;
  margin-bottom: 8px;
}

button {
  position: relative;
  width: 120px;
  height: 40px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 20px;
}