<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Foxygochi</title>
</head>
<body>
<ul>
    <li><a href="#">Information</a></li>
</ul>
<img src="greenfox.png">
<p th:text="'This is ' + ${fox.name} + '. Currently he is living on ' + ${fox.getFood()} + ' and ' + ${fox.getDrink()} + '. He knows ' + ${fox.getTricks().size()} + ' tricks.'"></p>
<h1>Known tricks</h1>
<p th:text="${fox.getTricks() == 0}? 'This fox does not know any tricks yet.' : ''"></p>
<ul>
    <li th:each="trick : ${fox.getTricks()}" th:text="${trick}"></li>
</ul>
</body>
</html>