<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Foxygochi</title>
</head>
<body>
<h1>No fox registered yet under this name.</h1>
<p>Please register a new fox!</p>
<form action="/register" method="post">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
    <label for="food">Food: </label>
    <input type="text" name="food" id="food">
    <label for="drink">Drink: </label>
    <input type="text" name="drink" id="drink">
    <input type="submit" value="Register">
</form>
</body>
</html>