<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Foxygochi</title>
</head>
<body>
<ul>
    <li><a th:href="@{'/?name=' + ${fox.name}}">Information</a></li>
    <li><a th:href="@{'/nutritionStore/?name=' + ${fox.name}}">Nutrition Store</a></li>
    <li><a th:href="@{'/trickcenter/?name=' + ${fox.name}}">Trick Center</a></li>
</ul>
<form action="/trickcenter/" method="post">
    <input type="hidden" name="name" th:value="${fox.name}"/>
    <label for="trick">Tricks: </label>
    <select name="trick" id="trick">
        <option th:each="trick : ${trickOptions}" th:value="${trick}"
                th:text="${trick}"></option>
    </select>
    <input type="submit" value="Learn">
</form>
</body>
</html>